/* You can add global styles to this file, and also import other style files */

fieldset {
  width: 50%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

label {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 8px;
}

.select-component-container {
  width: 50%;
  margin: auto;
  border: solid 2px rgb(234, 0, 255);
}

.select-component-container select {
  width: 100%;
  margin: auto;
}
